@import url('https://fonts.googleapis.com/css2?family=Uncut+Sans:wght@400;700&display=swap');

@tailwind base;

@layer base {
  body {
    font-family: '"Uncut Sans"', sans-serif;
  }
}
@tailwind components;
@tailwind utilities;
